Hello {{ user.first_name|default:user.username }},

Welcome to {{ site_name }}!

Thank you for signing up for KeyNest. To complete your registration and start using your account, please click the link below to activate your account:

{{ activation_url }}

Important: This activation link will expire in 24 hours. If you don't activate your account within this time, you'll need to register again.

If you didn't create an account with KeyNest, please ignore this email. Your email address will not be added to our system.

Best regards,
The KeyNest Team

---
This is an automated message, please do not reply to this email.
If you need help, please contact our support team.

© KeyNest Team